{% load mptt_tags menu_tags %}
<ul>
{% get_list_category as list_category %}
{% recursetree list_category %}
<li>
    <a href="{% url 'blog:post_list' node.slug %}">{{ node.name }}</a>
    {{ children }}
</li>
{#    {% if node.is_child_node %}#}
{#    <li class="p-left"><a href="{% url 'blog:post_list' node.slug %}">{{ node.name }}</a></li>#}
{#        #}
{#    {% endif %}#}
{#</li>#}
{#    {% if not node.is_leaf_node %}#}
{#        <ul class="children">#}
{#            {{ children }}#}
{#        </ul>#}
{#    {% endif %}#}
{% endrecursetree %}
</ul>





            